/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* VARIABLES */
:root {

    /* COLOR THEME */
    --wht: #ffffff;
    --blk: #000;
    --aqua: #007d7b;

    /* FONT STACK */
    --font: Arial, Helvetica, sans-serif;
}



/*  UNIVERSAL THINGS  */
body {
    display: grid;
    grid-template-columns: 1fr;
    width: 485px;
    margin: 0 auto;
    background-color: var(--blk);
    font-family: var(--font);
    color: var(--blk);

}

/* FONT SIZES */

p{
    font-size: 1.25em;
    padding-top: 20px;
}
nav a {
    font-size: 1.5em;
}
h2 {
    font-size: 2em;
    text-align: center;
}

/*   HEADER THINGS    */
header {
    background-color: var(--wht);
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1, h2, figcaption {
    text-transform: uppercase;
}

h1 {
    color: var(--aqua);
    font-size: 3em;
    padding-left: 10px;
    margin: 0;
    
}

/*      NAV STUFF    */
nav {
    background-color: var(--blk);
    margin: 0;
}
nav h2{
    visibility: hidden;
    height: 1px;
}
nav li {
    display: inline-flex;
    margin: 0 auto;
    padding: 0 15px;
}

nav li, nav li a{
    list-style: none;
    text-decoration: none;
    color: var(--wht);
    text-transform: uppercase;
    
}
nav li a:hover{
    color: var(--aqua);
}

[href="#top"] {
    position:fixed;
    bottom:0px;
    right:0px;
    border-radius:10px 0 0px 0px;
    padding: 3px;
}

/*     MAIN STUFF   */
main{
    background-color: var(--wht);
    padding: 10px;
}

/* GALLERY */

figure img{
    width:95%;
    margin: 0 auto;
    padding:  5px 10px;
}
figcaption{
    text-align: center;
    font-weight: bold;
}


.whiteBottomText{
    position: relative;
    bottom: 3rem;
    color: var(--wht);
}

/* CONTACT */
#contact, footer {
    background-color: var(--blk);
    color: var(--wht);
    width: 100%;
    margin: 0 auto;
}
#contact h2{
    padding: 15px;
}
#contact p{
    padding: 15px;
    text-align: center;
}
figcaption, label, input, small {
    font-size: 1em;
}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}
label{
    font-weight: bold;
}
input[type="submit"]{
    margin: 0 auto;
    width: 80%;
    background-color: var(--aqua);
    color: var(--wht);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 5px;
}


/* FOOTER */

footer{
    text-align: center;
    border-top: var(--blk) 3rem solid;
    border-bottom: var(--blk) 1rem solid;
}